{% extends 'base.html.twig' %}

{% block title %}{{ 'blog.title'|trans }}{% endblock %}

{% block body %}

<section class="projet">
	
	{% for projet in projets %}
		<projet>
			<h2>{{ projet.title }}</h2>
			<div class="metadata">{{'written.the' | trans}} {{ projet.createdAt | date('d/m/Y') }} à {{ projet.createdAt | date('H:i') }}</div>
			<div class="content">
				<img src="{{ projet.image }}" alt="">
				{{ projet.content | raw }}
				<a href="{{ path('blog_show', {'id': projet.id}) }}" class="btn btn-primary">{{ 'readmore.btn'|trans }}</a>
			</div>
		</projet>
	{% endfor %}
	

</section>

{% endblock %}
